@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 32px;
}

/* Header Section */

.header-section {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  padding: 16px 0px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

/* Nav */

.nav-list {
  display: flex;
  gap: 16px;

  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* Hero */

.hero {
  display: flex;
  gap: 48px;

  padding: 100px 0px;
  flex-wrap: wrap;
}

.hero-content {
  flex: 1 250px;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-desc {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 16px;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;

  background: gray;
  padding: 16px;
  min-height: 200px;

  width: 300px;
  flex: 1 300px;
}

/* Button */

.btn {
  padding: 4px 24px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #3882f6;
  font-weight: 700;
}

/* Features Section */

.features-section {
  padding: 50px 32px 100px 32px;
  color: #1f2937;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.section-title {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.features-cards {
  display: flex;
  justify-content: center;
  gap: 48px;

  flex-wrap: wrap;
}

.card {
  width: 150px;
  text-align: center;
}

.card-img {
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 16px;
  margin-bottom: 8px;
}

/* Testimonial Section */

.testimonial-section {
  background-color: #e5e7eb;
  padding: 80px 32px;

  display: flex;
}

.testimonial {
  width: 790px;
  margin: 0 auto;

  color: #1f2937;
}

.testimonial-desc {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 16px;
}

.testimonial-author {
  text-align: right;
  font-weight: 900;
  margin-right: 32px;
}

/* CTA Section */

.cta-section {
  padding: 100px 0px;
}

.cta-box {
  background-color: #3882f6;
  padding: 50px 80px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  flex-wrap: wrap;
}

.cta-content {
  flex: 200px;
}

.btn-inverted {
  border: 1px solid white;
  flex-shrink: 0;
}

.text-bold {
  font-weight: 700;
}

/* Footer */

.footer {
  background-color: #1f2937;
  text-align: center;
  padding: 36px;
}
